
Static { 
    text-align: center;
    border: dashed red;
    align: center middle;
   
}
Button {
    
    background: #2563eb;
    border: coral;
    text-align: center;
    color: white;
    padding: 1;
    margin: 1;
    
    
 
}

Button:hover {
    background: black;
}


#input_box {

    border: blue;
    background: #2e3a59;
    text-align: center;
    width: 40
    
    
}
