<!doctype html>


<head>
   
    <title>{{ title }}</title>
    
    <!--link to CSS file & favicon -->
    <link rel="stylesheet" href="{{ url_for('static', filename='webapp.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>

    <!-- Flash messages display -->
    <ul class = "flash-messages" >
        {% for message in get_flashed_messages() %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>

    {% block the_body %}
    {% endblock %}

    <hr />
    
    <a href="/startgame" class="btn btn-primary" style= "background-color: red;">Restart</a>

</body>

</html>
